{% extends "labeling_base.html" %}

{% block title %}Label Neighborhood{% endblock %}

{% block body %}
{{ super() }}

<div id="buttons">
    <button class="btn btn-submit" onclick="sendLabeledMatches('{{ id }}')">Submit</button>
</div>

<div id="legend">
    <h4>Keyboard Shortcuts</h4>
    <ul>
        <li><kbd>&#9166;</kbd> Submit</li>
        <li><kbd>&uarr;</kbd> Back</li>
        <li><kbd>?</kbd> Toggle Legend</li>
    </ul>
    <button onclick="toggleLegend()">Close</button>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
    function sendLabeledMatches(id) {
        const iframe = document.querySelector("iframe");
        const iframeWindow = iframe.contentWindow;

        const added = iframeWindow.mapController?.getAddedMatches() || [];
        const removed = iframeWindow.mapController?.getRemovedMatches() || [];

        const payload = {
            id: id,
            pairs: iframeWindow.pairs || [],
            added: added,
            removed: removed
        };
        const STORE_NBH_URL = {{ feature_url('labeling.store_neighborhood') | tojson }};
        fetch(STORE_NBH_URL, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload)
        })
        .then(response => response.json())
        .then(data => {
            window.location.href = data.next_url;
        })
        .catch(err => console.error("Submission error:", err));
    }

    document.addEventListener("keydown", function (e) {
        e.preventDefault();
        if (event.key === "ArrowUp") {
            window.history.back();
        } else if (e.key === "Enter") {
            sendLabeledMatches('{{ id }}');
        } else if (e.key === "?") {
            toggleLegend();
        }
    });
</script>
{% endblock %}
