{% extends "base.html" %}

{% block title %}Labeling Complete{% endblock %}
{% block body_class %}page-centered{% endblock %}

{% block body %}
  <div class="info-box success">
    {% set on_review = request.endpoint.endswith('review_pair') %}
    <h1>🎉 All {{ 'Buildings' if g.ft == 'buildings' else 'Places' }} {{ 'Reviewed' if on_review else 'Labeled' }}!</h1>
    <p>
      Thank you for labeling all currently pending feature pairs.<br />
      Your annotations have been stored successfully.
    </p>

    <div class="info-button-group">
      <a href="{{ feature_url('labeling.home_pair') }}"
         class="info-button">
        Back to Start
      </a>
      <a href="{{ url_for('labeling.download_results') }}"
         class="info-button success">
        Download Results
      </a>
    </div>
  </div>
{% endblock %}
